@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@700&display=swap");

/*
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Nav*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 114px;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

.nav__inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.nav__logotype {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
  color: #0312a0;
}

.logotype__name {
  font-size: 4.3rem;
}

.logotype__subname {
  top: -10px;
  position: relative;
  font-size: 1.8rem;
}

.name__lighter {
  font-weight: 300;
}

.logotype__figures {
  position: absolute;
  display: inline-flex;
  top: 22px;
  left: 126px;
  flex-direction: row;
  align-items: flex-end;
}

.figure {
  border: 4px solid #fe7a22;
}

.figure__left {
  border-radius: 0 10px 0 10px;
  width: 29px;
  height: 20px;
}

.figure__right {
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 42px;
  height: 28px;
  border-radius: 10px 0 10px 0;
}

.nav__options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 24px;
  margin-left: 40px;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2.4rem;
  color: #1c3e95;
}

.option__link {
  transition: 0.2s;
}

.option__link:hover {
  color: #fe7a22;
}

/*Header*/

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 732px;
  background-image: url("./assets/headerImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

.header__banner {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 259px;
  width: 100%;
  padding-left: 360px;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(28, 62, 149, 0.75);
}

.banner__title {
  font-size: 5.2rem;
  font-weight: 700;
  color: #fe7a22;
  padding-top: 48px;
  margin-bottom: 8px;
}

.banner__text {
  font-size: 3rem;
  font-size: 700;
  color: #fff;
  padding-bottom: 64px;
}

.header__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 489px;
  height: 604px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1410;
}

.form__title {
  font-family: "Quicksand", sans-serif;
  font-size: 2.4rem;
  color: #1c3e95;
  margin-bottom: 20px;
}

.form__input {
  height: 47px;
  border: 1px solid #979494;
  padding-left: 16px;
  margin-bottom: 12px;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  outline: none;
  transition: 0.2s;
}

.form__input:focus {
  border-color: #1c3e95;
  color: #1c3e95;
}

.input__place {
  width: 247px;
  margin-right: 13px;
}

.input__zipcode {
  width: 146px;
}

.form__check {
  width: 17px;
  height: 17px;
  border: 1px solid #979494;
  margin-right: 14px;
}

.form__terms {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #979494;
  line-height: 18px;
  margin-bottom: 16px;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 205px;
  height: 48px;
  background-color: #fe7a22;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #1c3e95;
}

/*Section*/

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 655px;
  background-color: #fff;
  background-image: url("./assets/sectionImage.png");
  background-position: center center;
  background-size: cover;
}

.section__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.section__title {
  font-family: "Quicksand", sans-serif;
  font-size: 6.3rem;
  font-weight: 700;
  color: #1c3e95;
  margin-top: 72px;
  margin-bottom: 8px;
}

.section__subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  color: #1c3e95;
}

.section__text {
  margin-top: 24px;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  width: 792px;
  line-height: 24px;
}

.text__entry {
  font-weight: 700;
  margin-bottom: 20px;
}

.text__continuation {
  font-weight: 400;
}

.section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 56px;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.2s;
  background-color: #fe7a22;
  color: #fff;
  border-radius: 10px;
  margin-top: 52px;
}

.section__button:hover {
  background-color: #1c3e95;
}

/*Footer*/

.footer {
  display: flex;
  width: 100%;
  height: 315px;
  background-color: #1c3e95;
  justify-content: center;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 61px;
}

.col__title {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.list__link {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
  margin-bottom: 7px;
  line-height: 26px;
}

.list__link:hover {
  color: #fe7a22;
}

.contact {
  font-family: "Quicksand";
  font-size: 2.5rem;
  color: #fe7a22;
}
